.box-mensaje {
  text-align: center;
}
.mensaje {
  font-family: 'Yeseva One', cursive;
  font-size: 40px;
  color: #ebebeb;
}
.img {
  width: 60%;
}
.imgContainer {
  z-index: 2;
  position: absolute;
  top: 52%;
  left: 30%;
  -webkit-animation: slide-top 5s ease-in-out infinite alternate;
  animation: slide-top 5s ease-in-out infinite alternate;
}
.btn-box {
  position: absolute;
  bottom: 3rem;
}
.btn-crear {
  background-color: #e03337;
  color: white;
  font-size: x-large;
  border: none;
  padding: 1rem;
  border-radius: 100px;
  font-family: 'Yeseva One', cursive;
  cursor: pointer;
}
.btn-crear:hover {
  background-color: #b52a2d;
}
.div-flake {
  position: absolute;
  top: 10%;
  left: 10%;
}
.div-flake-2 {
  position: absolute;
  top: 50%;
  right: 10%;
}
.img-flake {
  width: 40px;
  animation: 9s rotacion linear infinite;
}
.div-ball {
  position: absolute;
  left: 12%;
  top: 40%;
}
.img-ball {
  width: 50px;
  animation: softRotacion 5s linear infinite alternate;
}
.div-leaf {
  position: absolute;
  right: 12%;
  top: 10%;
}
.img-leaf {
  width: 70px;
  animation: softRotacion 7s linear infinite alternate;
}
.slide-top {
  -webkit-animation: slide-top 5s ease-in-out infinite alternate;
  animation: slide-top 5s ease-in-out infinite alternate;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes softRotacion {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@media only screen and (min-width: 769px) {
  .box-mensaje {
    max-width: 80%;
  }
  .mensaje {
    font-size: 128px;
  }
  .img {
    width: 30%;
  }
  .imgContainer {
    left: 43%;
    top: 45%;
  }
  .div-ball {
    left: 12%;
    top: 50%;
  }
  .img-ball {
    width: 80px;
  }
  .div-leaf {
    right: 15%;
    top: 10%;
  }
  .img-leaf {
    width: 120px;
  }
}
