@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: 0;
  margin: 0;
  color-scheme: light dark;
  color: #393939;
  background-image: url('/background.png');
  background-size: 256px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
