.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.title {
  font-size: x-large;
  font-family: 'Yeseva One', cursive;
  padding-left: 0.5rem;
  text-shadow: 2px 2px 8px #343a40;
  color: white;
}
.icon {
  font-size: x-large;
  color: #f3bb60;
}
